@page "/"
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<div class="lnfree1"> </div>

<div class="first-section">

    <h1>Willkommen auf Projektplaner JK</h1>

    <p>Verwalte und organisiere deine Projekte mit Leichtigkeit.</p>

    <a href="products" class="btn btn-purple"> Los geht's!</a>

</div>

<div class="sc-section">


    <div class="thrt">
        <h2>Zeitmanagement</h2>
        <div class="lnfree1"> </div>
        <p>Behalte den Überblick über deine Projekte und Aufgaben. Teammitglieder wissen genau, wann etwas von ihnen erwartet wird.</p>
    </div>

    <div class="thrt">
        <h2>Transparenz & Kommunikation</h2>
        <div class="lnfree1"> </div>
        <p>Jedes Teammitglied kennt seine Verantwortlichkeiten und die der anderen. Dies erleichtert die Zusammenarbeit im Team.</p>
    </div>

    <div class="thrt">
        <h2>leichte Bedienung</h2>
        <div class="lnfree1"> </div>
        <p>Unsere Benutzeroberfläche wurde entwickelt, um die Bedienung für jeden einfach und effizient zu gestalten.</p>
    </div>

</div>


